<h3>Objects</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>WebDriverInteractions</td>
        <td>
            Principal object including functions to interact with the elements in a page as well as the following
            objects
            <ul>
                <li>Browser</li>
                <li>JavaScript</li>
                <li>Wait</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Browser</td>
        <td>Includes functions to interact with the browser</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>Execute jasscript</td>
    </tr>
    <tr>
        <td>Wait</td>
        <td>Support for dynamic waits</td>
    </tr>
</table>

<h3>WebDriverInteractions functions</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>WebDriverInteractions</td>
        <td>
            Principal object including functions to interact with the elements in a page as well as the following
            objects
            <ul>
                <li>Browser</li>
                <li>JavaScript</li>
                <li>Wait</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Browser</td>
        <td>Includes functions to interact with the browser</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>Execute jasscript</td>
    </tr>
    <tr>
        <td>Wait</td>
        <td>Support for dynamic waits</td>
    </tr>
    </tbody>
</table>
